<article class="timeline-entry left-aligned">
    <div class="timeline-entry-inner">
    <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
        <div class="timeline-icon bg-info">
        Aug 4
        </div>
        <div class="timeline-label">
        <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>
        <img src="http://themes.laborator.co/neon/assets/images/timeline-image-3.png" class="img-responsive img-rounded full-width">
        </div>
    </div>
</article>
