@import '../../node_modules/bulma/css/bulma.css'
@import '../../node_modules/bulma/sass/utilities/_all.sass'
@import './timeline.css'
@import './typography.sass'

$timeline-label-bg-color: #f7fcff
$timeline-middle-line-color: #d7e4ed
$text-dark-grey: #414141

html, body
  background: #314755 
  background: -webkit-linear-gradient(to right, #26a0da, #314755)
  background: linear-gradient(to right, #26a0da, #314755)
  font-family: $open-sans-regular

section
  background: #00c6ff
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff)
  background: linear-gradient(to bottom, #0072ff, #00c6ff)
  color: #ececec

.title
  font-family: $open-sans-light
  text-transform: uppercase
  color: #ececec
  font-size: 56px

.subtitle
  color: #ececec

img
  vertical-align: middle

.img-responsive
	display: block
	height: auto
	max-width: 100%

.img-rounded
	border-radius: 3px

.img-thumbnail
	background-color: #fff
	border: 1px solid #ededf0
	border-radius: 3px
	display: inline-block
	height: auto
	line-height: 1.428571429
	max-width: 100%
	moz-transition: all .2s ease-in-out
	o-transition: all .2s ease-in-out
	padding: 2px
	transition: all .2s ease-in-out
	webkit-transition: all .2s ease-in-out

.img-circle
	border-radius: 50%

.timeline-centered 
  position: relative
  margin-bottom: 30px
  &:before 
    content: " "
    display: table
    content: ''
    position: absolute
    display: block
    width: 4px
    background: $timeline-middle-line-color
    left: 50%
    top: 20px
    bottom: 20px
    margin-left: -4px
  &:after
    content: " "
    display: table
  &:after 
    clear: both
  .timeline-entry 
    position: relative
    width: 50%
    float: right
    margin-bottom: 70px
    clear: both
    &:before
      content: " "
      display: table
    &:after
      content: " "
      display: table
    &:after
      clear: both
    &.left-aligned
      float: left
      .timeline-entry-inner 
        margin-left: 0
        margin-right: -35px
        .timeline-time 
          left: auto
          right: -98px
          text-align: left
        .timeline-icon 
          float: right
        .timeline-label 
          margin-left: 0
          margin-right: 100px
          &:after
            left: auto
            right: 0
            margin-left: 0
            margin-right: -9px
            -moz-transform: rotate(180deg)
            -o-transform: rotate(180deg)
            -webkit-transform: rotate(180deg)
            -ms-transform: rotate(180deg)
            transform: rotate(180deg)
    .timeline-entry-inner 
      position: relative
      margin-left: -42px
      &:before
        content: " "
        display: table
      &:after
        content: " "
        display: table
        clear: both
      .timeline-time 
        position: absolute
        left: -100px
        top: 40px
        text-align: right
        padding: 10px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        >span
          display: block
          &:first-child
            font-size: 15px
            font-weight: bold
          &:last-child
            font-size: 12px
      .timeline-icon 
        background: #fff
        color: #737881
        display: block
        width: 80px
        height: 80px
        -webkit-background-clip: padding-box
        -moz-background-clip: padding
        background-clip: padding-box
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        text-align: center
        -moz-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
        -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
        box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
        line-height: 40px
        font-size: 15px
        float: left
        &.bg-black
          background-color: #303641
        &.bg-green
          background-color: #75ce66
        &.bg-blue
          background-color: $blue
        &.bg-yellow
          background-color: #f0ca45
        &.bg-red
          background-color: $red
        .date-info
          color: #fff
          .date-info-date
            font-family: $open-sans-semibold
            font-size: 24px
            margin-top: 0px
          .date-info-month
            position: relative
            top: -10px
            font-family: $open-sans-semibold
            font-size: 24px
      .timeline-label
        position: relative
        background: $timeline-label-bg-color
        padding: 1.7em
        margin-left: 100px
        -webkit-background-clip: padding-box
        -moz-background-clip: padding
        background-clip: padding-box
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        box-shadow: 0 3px 0 $timeline-label-bg-color
        &:after
          content: ''
          display: block
          position: absolute
          width: 0
          height: 0
          border-style: solid
          border-width: 9px 9px 9px 0
          border-color: transparent $timeline-label-bg-color transparent transparent
          left: 0
          top: 30px
          margin-left: -9px
        p
          color: $text-dark-grey
          margin: 0
          line-height: 1.428571429
        .timeline-label-title
          color: #26a0da
          font-family: $open-sans-semibold
          font-size: 20px
    &.begin
      margin-bottom: 0



