<body>
  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title">Timeline</h1>
        <h2 class="subtitle">
          Some stuff going on here <strong>sections</strong> Hooooo
        </h2>
      </div>
      <div class="timeline-centered">
        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
              <div class="timeline-icon bg-success">
                Apr19
              </div>         
              <div class="timeline-label">
                <!-- todo: use custom class for heading here & add margin-bottom 10px -->
                <h3>ARTicolous <span>posted a status update</span></h3>
                  <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
              </div>
            </div>
        </article>
        <article class="timeline-entry left-aligned">		
          <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
            <div class="timeline-icon bg-secondary">
                May 18
            </div>
            <div class="timeline-label">
              <h2><a href="javascript::void(0)">Job Meeting</a></h2>
                <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
            </div>
          </div>
        </article>
        <article class="timeline-entry left-aligned">
          <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
              <div class="timeline-icon bg-info">
                Jan 4
              </div>
              <div class="timeline-label">
                <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>
                <img src="http://themes.laborator.co/neon/assets/images/timeline-image-3.png" class="img-responsive img-rounded full-width">
              </div>
          </div>
        </article>
        <sm-timeline-event></sm-timeline-event>
      </div>
    </div>
  </section>
</body>
