<body>
  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title">Timeline</h1>
        <h2 class="subtitle">
          Some stuff going on here Hooooo
        </h2>
      </div>
      <div class="timeline-centered">
        <sm-timeline-event [bgColor]="'black'" [timelineEvent]="{date: '2017-01-04'}"></sm-timeline-event>
        <sm-timeline-event [bgColor]="'black'" [timelineEvent]="{date: '2016-03-07', direction: 'left'}"></sm-timeline-event>
        <sm-timeline-event [bgColor]="'black'" [timelineEvent]="{date: '2015-08-19', image: 'a'}"></sm-timeline-event>
        <sm-timeline-event [bgColor]="'black'" [timelineEvent]="{date: '2014-11-05', direction: 'left'}"></sm-timeline-event>
      </div>
    </div>
  </section>
</body>
